/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
rgba(126, 213, 111, 0.767), rgba(40, 180, 133, 0.801) 
rgba(119, 119, 119, 0.808),rgba(33, 33, 33, 0.795) 
rgba(119, 119, 119, 0.808),rgba(33, 33, 33, 0.795)  
rgba(242, 239, 249, 0.808), rgba(138, 124, 174, 0.808) 

Hot pink: #FE7ADA
Light pink: #F4EEFF
Purple: #8A7CAE
*/

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 100vh;
    background-image: 
        linear-gradient(
            to right bottom,
            rgba(242, 239, 249, 0.808),
            rgba(254, 122, 219, 0.801)
        ), 
        url(../img/crew.png);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 95%);
    /* clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 90%, 0 70%); */
    position: relative;
}

.logo-box {
    position: absolute;
    top: 4em;
    left: 4em;
}

.logo {
    height: 3.5rem;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}