//COLORS
$color-primary: #F4EEFF;
$color-primary-dark: #FE7ADA;
$color-secondary: #8A7CAE;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: rgb(8, 6, 6);

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;