//COLORS

// $color-primary-light: #c7d7e0;
// $color-primary-dark: #0179B3;
// $color-secondary: #C14F51;

// $color-primary-light: #F4EEFF;
// $color-primary-dark:#f89ee0;
// $color-secondary: #BE69A9;

// $color-primary-light: #C6FCEC;
// $color-primary-dark:#005B3B;
// $color-secondary: #F89EE0;
// $color-third: #4F8073;

$color-primary-light: #7792BC;
$color-primary-dark: #1178C6;

$color-secondary-light: #F1FAFF;
$color-secondary-dark: #298477;

$color-third-light: #F7BF4A;
$color-third-dark: #006E61;

$color-grey-light: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: rgb(8, 6, 6);

//Font
$def-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;