.header {
    height: 100vh;
    background-image: 
        // linear-gradient(
        //     to right bottom,
        //     rgba($color-primary-light, .8),
        //     rgba($color-primary-dark, .8)
        // ), 
        linear-gradient(
            to right bottom,
            rgba($color-grey-light, .8),
            rgba($color-primary-light, .8),
        ), 
        url(../../img/Pics/crew.png);
    background-size: cover;
    background-position: top;
    // clip-path: polygon(0 0, 100% 0, 100% 75%, 0 95%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 90%, 0 70%);
    position: relative;
    // &__logo-box {
    //     position: absolute;
    //     top: 4em;
    //     left: 4em;
    // }
    &__logo {
        height: 3.5rem;
    }
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}